<!DOCTYPE html>
<html>
<head>
    <title>Detalle de la Receta</title>
</head>
<body>
    <h1>Detalle de la Receta</h1>
    <p>Nombre: {{ receta.nombre }}</p>
    <p>Tipo de Comida: {{ receta.tipo_comida }}</p>
    <p>Proteínas: {{ receta.proteinas }}</p>
    <h2>Ingredientes</h2>
    <ul>
        {% for ingrediente in receta.ingredientes.all %}
            <li>{{ ingrediente.nombre }} (Frecuencia: {{ ingrediente.frec }})</li>
        {% endfor %}
    </ul>
    
    <form method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" name="delete">Eliminar</button>
    </form>
    <a href="{% url 'editar_receta' receta.pk %}">Editar</a>
    <a href="{% url 'listado_recetas' %}">Volver a la lista</a>
</body>
</html>